:root {
  --menuColor: rebeccapurple;
 
}

*{
  margin: 0;
  padding: 0;
  --header-border-color: rgb(200, 200, 200);
  --title-color: gainsboro;
  --keyboard-background-color: rgb(129, 131, 132);
  --keyboard-letter-color: rgb(215, 218, 220);
  --deepLightPurple: rgb(100, 11, 129);
  --modalHeaderColor: hsl(290, 50%, 50%); 
  --modalHeaderBackground: rgb(210, 72, 215);
  
}



body{
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background: url("https://images.unsplash.com/photo-1499002238440-d264edd596ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;

}

h2{
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
  font-size: 2.5rem;
}

.clock{
  display: flex;
}

.clock div{
  margin: 5px;
  position: relative;
}

.clock span{
  width: 100px;
  height: 80px;
  background: slateblue;
  opacity: .8;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
} 

.clock .text{
  height: 30px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: darkblue;
  opacity: .8;
}

#ampm{
  bottom: 0;
  position: absolute;
  width: 45px;
  height: 30px;
  font-size: 20px;
  right: -35px;
}






#navbar{
  width: 240px;
/*  height: vh100;
  display: flex;
  flex-direction: column;*/
  height: 40vh;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns:  repeat(3, 1fr);
}


nav {
  background-color: var(--menuColor);
  opacity: .75;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 2rem;
  transform: translateX(-100%);
  transition: transform .5s ease-in-out; 
}

nav.active{
  transform: translateX(0);
}

ham.active{
  transform: translateX(-100px);
}


.btn{
  background-color: var(--menuColor);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.1rem;
  padding: .2rem; 
  border: none;
  color: white;
  transition: transform .5s ease-in-out; 
}
button:hover{
  cursor: pointer;
}


#ham{
  background-color: var(--menuColor);
  border: none;
  color: white;
  position: fixed;
  top: 20px;
  left: 20px;
  transition: transform 0.5s ease-in-out; 
}
#ham:hover{
  cursor: pointer;
}


#ham.active{
  transform: translateX(+295px);
}

.form{
  display: none;
}
    
/* Media queries */
@media (max-width: 750px){
  h2{
    letter-spacing: 3px;
    color: white;
    font-size: 1.9rem;
  }

  .clock span{
    width: 90px;
    height: 74px;
    font-size: 45px;
   } 

}

#help-box{
  width: 85%;
  max-width: 350px;
  background-color: rgb(200, 200, 200, .6);
  color: black;
  position: absolute;
  top: 0px;
  justify-content: center;
}

p{
  width: 100%;
  background-color: rgba(102, 5, 5);
  justify-content: center;
  color: lightgray;
  font-size: 1.5rem;
}

.modal-header{
  background-color: rgba(102, 5, 5, 0.6);
  display: flex;
  top: 10px;
  position: relative;
  justify-content: center;
  font-size: 1.75rem;
  margin-bottom: 10px;
}

#close-help{
  position: absolute;
  top: 1px;
  right: 8px;
  font-size: 2.5rem;
}

#close-help:hover{
  cursor: pointer;
  color: white;
}

.hidden{
  display: none;
}



#aud-icon{
  background-color: var(--menuColor);
  border: none;
  color: white;
  position: fixed;
  top: 20px;
  right: 20px;
  transition: transform 0.5s ease-in-out; 
  font-size: 1.50rem;
}
#aud-icon:hover{
  cursor: pointer;
}


#help-icon{
  background-color: var(--menuColor);
  border: none;
  color: white;
  position: fixed;
  top: 20px;
  right: 50px;
  transition: transform 0.5s ease-in-out; 
  font-size: 1.50rem;
}
#help-icon:hover{
  cursor: pointer;
}


#help-modal {
  display: none;
  position: fixed;
  z-index: 20;
  padding-top: 25px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  font-family: 'Times New Roman', Times, serif;

}


.modal-content {
  position: relative;
  background-color: rgb(238, 238, 238);
  margin: auto;
  padding: 0;
  width: 95%;
  max-width: 450px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  /* animation-name: animatetop;*/
  animation-name: fade-in;
  animation-duration: 2.5s;
  border-radius: 0.3rem;
  text-align: left;
}


.modal-header2 {
  position: relative;
  padding: 2px 12px;
  background-color: var(--deepLightPurple);
  background: rgb(251,193,29);
/*  background: radial-gradient(circle, rgba(251,193,29,1) 0%, rgba(251,193,29,1) 25%, rgba(220,20,60,1) 100%); */
  background: radial-gradient(circle, var(--modalHeaderBackground), rgba(251,193,29,1) 25%, var(--modalHeaderBackground) 100%); 
  color: rgb(201, 170, 113);
  color: black;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  text-align: center;
}
.modal-header2 h2{
  font-size: 1.5rem;
  margin-top: 14px;
  margin-bottom: 14px;
  position: relative;
}
.modal-body {
  padding: 2px 12px;
  color: black;
/*  display: flex; */
  justify-content: center;
  font-size: 1.4rem;
}


@keyframes fade-in{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out{
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

#close-help2{
  position: absolute;
  top: 10px;
  right: 20px; 
  font-size: 2rem;
}

#close-help2:hover{
  cursor: pointer;
  color: white;
}